 *{background-color:white
 }
 body{
	 font-family:arial
	 
	
 }
 #entorno{
	 background-color: rgb(255, 170, 170)
 }
 #program{
	 background-color: rgb(212, 106, 106)
 }
 #base{
	 background-color:rgb(128, 21, 21)
 }
 #days{
	 background-color: rgb(240, 187, 188)
 }
 #sist{
	 background-color:rgb(171, 86, 88)
 }
 #rec{
	 background-color:rgb(254, 245, 245)
	 text-align: center
 }
 #lengua{
	 background-color:rgb(205, 133, 135)
 }