/************************************************************************* 
  REGLAS DE ESTILO PARA CAJAS: MARGIN Y PADDING
  ->El margen es el espacio dejado entre un elemento y su contenedor
  ->El padding es el margen entre elemento y su contenido
**************************************************************************/
/* Para que se pueda ver lo que voy a hacer, defino bordes y fondos*/

body {
  border: thick solid red;
}
h1, h2, h3, p {
  border: thin solid black;
}

/*por defecto cualquier caja aunque tenga poco contenido ocupa el 100%, hasta que le digamos lo contrario*/
/*************************************************************************
   CUATRO MÁRGENES IGUALES
**************************************************************************/

/* Defino de una vez un margen de un centímetro alrededor del elemento body*/

body {
  margin: 1cm;
}

/* En h1 voy a definir cuatro márgenes distintos en una sola línea.
   Observa que el cero no necesita unidades. El orden es:

    ARRIBA DERECHA ABAJO IZQUIERDA
	
   Igual que en el caso del borde, si la lista no tiene cuatro valores, 
   vuelve a leer desde el principio.
   
*/

h1 {
  margin: 0 1cm 0 2cm;
}

/*************************************************************************
   CUATRO REGLAS QUE DEFINEN UN MARGEN CADA UNA
**************************************************************************/

/* En h2 voy a usar una línea para cada margen */

h2 {
  margin-top: 0;
  margin-right: 1cm;
  margin-bottom: 0;
  margin-left: 2cm;
}
/*************************************************************************
   MODIFICACIÓN DEL PADDING PARA EL PÁRRAFO
**************************************************************************/

p {
  padding: 20pt 30pt;
}

/* Recuerda: vuelve a leer cuando se le acaba la lista.
   Equivale a padding: 20pt 30pt 20pt 30pt;  
   Podemos mejorar el aspecto del párrafo con dos reglas sencillas */
   
p {
  text-indent: 20pt;
}
 /* text-align: justify; */

   
