/*
podemos dar a la tabla algunas propiedades de cajas*/
table.listado{
	width:80%;
	min-width: 30em;
	max-width:40%;
}
/* con el min y max limitamos lo que mide por los lados, no se hará más pequeño que 30 ni más grande que 40*/


/* +++++++++++++++++++ CENTRADO DE TABLAS++++++++++++++++++*/
table.listado{
	margin: 2em auto;
}
/*Mostramos las líneas de tabla
tr (la línea) no tiebe bordes
si le ponemos th afectará a los head de la tabla*/

table.listado, table.listado th, table.listado td,table.listado caption {
	
	border : 1px solid black;
	
}
/* PROPIEDADES ESPECIALES DE LAS TABLAS*/

table.listado{
	
	caption-side: top; /* bottom*/
	/* si activamos el color de fondo no afecta al caption
	background-color:olive;*/
	empty-cells: show; /*para ocultar o ver las celdas que no tienen contenido show o hide*/
	border-spacing:5px;
	border-collapse:collapse; /*es incompatible con la de border spacing, porque una deja espacios y la otra los junta++++ la contraria sería separate*/
}
/* un truco muy habitual es resaltar de alguna manera la fila en la que está el cursor / el ratón para facilitar la lectura*/
table.listado tr:hover td{
	
	 /*font-size:130%;  font-weight: bold;  esto es horrible, mejor no modificar tamaños o grosores */
	/* color: red;
	 background-color:#888;*/
	 /*este truco es muy usual en tablas*/
	 
	
}
/*	SELECTORES CSS3 MUY ÚTILES PARA TABLAS
	enésimo hijo*/
	
table.listado  tr:first-child{
	/*background-color: gold;
	color:white;*/
}
table.listado  tr:last-child{
	background-color: silver;
	color:white;
}
/* cuando no todos los hijos son del mismo tipo, por ejemplo, puede haber un div que contenga una tabla, 
varios párrafos y otro div. Puede ser interesante usar algo parecido que es  first-of-type o last-of-type*/

/*
Si no es exactamente el primero o el ultimo, tenemos:

*/
table.listado tr:nth-child(5){
	background-color: cyan;
	color:white;
}
table.listado tr:nth-child(2n){
	background-color: cyan;
	color:white;
}
table.listado tr:nth-child(2n+1){
	background-color: green;
	color:white;
}
table.listado tr:nth-child(2n+3){
	background-color: green;
	color:white;
}
/*es más interesante qye usar solo un valor en concreto: prueba con 2n, 2n+1, odd, even, */

/* con el mismo selector para que ek objetivo de una regla sea una columna*/
table.listado td:nth-child(3){
	text-align:right;
	
}
table.listado td, table.listado th{
	padding:2em;
	
}
table.listado td:nth-child(3){
	width: 3em;
}
/*quedaria dar estilo al caption, a la cabecera...*/
table.listado caption{
	border-radius: 25px 25 px 0 0;
}