body{
  font-family: Verdana;
  
}
table.calendario{
  border: 1px solid black;
  margin: auto;
}

/*separacion entre meses*/

table.calendario>tbody>tr>td{
  padding:15px;
}

table.mes{
	margin:15px;
}

table.calendario>tbody>tr>td{
  vertical-align: top;
}
/* como las pequeñas no tienen caption, no necesito usar */
table.calendario>caption{
  text-shadow: 15px 15px navy
    
}
table.mes thead{
  color:white;
  background-color: #cc8787;
 /* border : 3px dotted blue;*/
}
table.mes  {
  border-collapse: collapse;
}
/*Mes en mayúsculas */
table.mes thead tr:first-child th{
  text-transform:uppercase;
}

table.mes thead tr:nth-child(2) th{
  text-transform: capitalize;
}
table.mes tbody{
  background-color: cyan;
  color:#555;
  text-align: right;
}
table.mes td, table.mes th {
  padding:0.4em
}
/* para hacer un border radius, primero hay que ponerle un border pero si tenemos un border collapse  no funciona*/

table.mes{
  */border-collapse: separate;*/
  border: solid whitesmoke;
  border-radius: 25px;
}

table.mes td:nth-child(6), table.mes td:nth-child(7),td.festivo{
  color:red;
  background-color:grey;
}